.biojs_msa_stage {
	cursor: default;
	line-height: normal; 
}

.biojs_msa_labels {
	color:black;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	vertical-align:top;
}

.biojs_msa_seqblock {
	cursor: move;
}

.biojs_msa_layer{
	display: block;
	white-space: nowrap;
}

.biojs_msa_labelblock::-webkit-scrollbar, .biojs_msa_header::-webkit-scrollbar{
	// FIX scrollbars on Mac
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
}
.biojs_msa_labelblock::-webkit-scrollbar-thumb, .biojs_msa_header::-webkit-scrollbar-thumb{
	border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
