#title{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -12px;
    display: block;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
 z-index: 5;
}

#services .icon-md {
    font-size: 36px;
}
#services h4 {
    font-size: 24px;
}

.icon-home {
    font-size: 22px;
}

#services .row .clearfix {
    margin-bottom: 0px;
}

#main-slider h1, #main-slider p {
    color: black;
}
