@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body {
    background: #e5e5e5;
    color: #999;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #777;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #52b6ec;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.btn {
    font-weight: 300;
    border: 0;
}
.btn.btn-primary {
    background-color: #52b6ec;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
    background-color: #1586c3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a:hover,
a:focus {
    color: #80c9f1;
    text-decoration: none;
    outline: none;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 99999;
}
#main-slider:before{
    background-image: url(../images/msa_menu.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.12;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    content: "";
    position: absolute;
}
#main-slider {
    padding: 70px 0;
    color: #fff;
}
#main-slider .item {
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
    text-align: center;
}
#main-slider .item:first-child {
    top: auto;
    position: relative;
}
#main-slider .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 2;
}
#main-slider .item.active h1 {
    -webkit-animation: scaleUp 400ms;
    -moz-animation: scaleUp 400ms;
    -o-animation: scaleUp 400ms;
    -ms-animation: scaleUp 400ms;
    animation: scaleUp 400ms;
}
#main-slider .prev,
#main-slider .next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: inline-block;
    margin-top: -50px;
    font-size: 24px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    z-index: 5;
}
#main-slider .prev:hover,
#main-slider .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#main-slider .prev {
    left: 10px;
}
#main-slider .next {
    right: 10px;
}
#main-slider h1 {
    font-size: 68px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.box {
    padding: 50px 30px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}
.box.first {
    margin-top: -40px;
    border-radius: 5px 5px 0 0;
}
.box.last {
    border-radius: 0 0 5px 5px;
}
.box h2 {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
    font-size: 48px;
}

#demo .box {
    background-color: #f9f9f9;
}
#demo .plan {
    background: #fff;
    list-style: none;
    margin: 0 0 20px;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
}
#demo .plan li {
    padding: 10px 0;
    margin: 0 15px;
    border-bottom: 1px dashed #eee;
}

#services .box {
    padding-bottom: 0;
}
#services .row > div {
    margin-bottom: 30px;
}
.center {
    text-align: center;
}
#team-scroller .designation {
    margin-top: 10px;
    display: block;
}
.member {
    margin: 0 50px;
    text-align: center;
}
.carousel.scale .left-arrow,
.carousel.scale .right-arrow {
    top: 30%;
    position: absolute;
}
.carousel.scale .left-arrow {
    left: -10px;
}
.carousel.scale .right-arrow {
    right: -10px;
}
.carousel.scale .active .row > div:nth-child(1) {
    -webkit-animation: scaleUp 200ms linear 0 both;
    -moz-animation: scaleUp 200ms linear 0 both;
    -ms-animation: scaleUp 200ms linear 0 both;
    -o-animation: scaleUp 200ms linear 0 both;
    animation: scaleUp 200ms linear 0 both;
}
.carousel.scale .active .row > div:nth-child(2) {
    -webkit-animation: scaleUp 200ms linear 100ms both;
    -moz-animation: scaleUp 200ms linear 100ms both;
    -ms-animation: scaleUp 200ms linear 100ms both;
    -o-animation: scaleUp 200ms linear 100ms both;
    animation: scaleUp 200ms linear 100ms both;
}
.carousel.scale .active .row > div:nth-child(3) {
    -webkit-animation: scaleUp 200ms linear 200ms both;
    -moz-animation: scaleUp 200ms linear 200ms both;
    -ms-animation: scaleUp 200ms linear 200ms both;
    -o-animation: scaleUp 200ms linear 200ms both;
    animation: scaleUp 200ms linear 200ms both;
}
.carousel.scale .active .row > div:nth-child(4) {
    -webkit-animation: scaleUp 200ms linear 400ms both;
    -moz-animation: scaleUp 200ms linear 400ms both;
    -ms-animation: scaleUp 200ms linear 400ms both;
    -o-animation: scaleUp 200ms linear 400ms both;
    animation: scaleUp 200ms linear 400ms both;
}

.navbar-default {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 0;
    padding: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    overflow: hidden;
}
.navbar-default .first a {
    border-radius: 0 0 0 5px;
}
.navbar-default .navbar-brand {
    margin-right: 50px;
    margin-left: 20px;
    width: 200px;
    height: 78px;
    background: url(../images/logo.png) no-repeat 0 50%;
}
.navbar-default .navbar-nav > li {
    margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    line-height: 26px;
    color: #999;
}
.navbar-default .navbar-nav > li > a > i {
    display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
    background-color: #52b6ec;
    color: #fff;
}
.icon-lg {
    font-size: 48px;
    height: 108px;
    width: 108px;
    line-height: 108px;
    color: #fff;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: inline-block !important;
    border-radius: 100%;
}
.icon-md {
    font-size: 24px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
}
.icon-color1 {
    background-color: #e74c3c;
}
.icon-color2 {
    background-color: #2ecc71;
}
.icon-color3 {
    background-color: #3498db;
}
.icon-color4 {
    background-color: #8e44ad;
}
.icon-color5 {
    background-color: #1abc9c;
}
.icon-color6 {
    background-color: #2c3e50;
}
.gap {
    margin-bottom: 50px;
}
.big-gap {
    margin-bottom: 100px;
}
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #999;
}
#footer a {
    color: #999;
}
#footer a:hover {
    color: #52b6ec;
}

textarea#message {
    padding: 10px 15px;
    height: 220px;
}
@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes scaleUp {
    0% {
        opacity: 0;
        -moz-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes scaleUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-ms-keyframes scaleUp {
    0% {
        opacity: 0;
        -ms-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1);
    }
}
@-o-keyframes scaleUp {
    0% {
        opacity: 0;
        -o-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}
