/* BASIC */

.biojs_msa_stage {
    cursor: default;
    line-height: normal; 
}

.biojs_msa_seqblock {
    cursor: move;
}

.biojs_msa_layer{
    display: block;
    white-space: nowrap;
}

.biojs_msa_labels {
    color:black;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    vertical-align:middle;
    overflow: hidden;
    text-overflow: clip;
    /*margin:auto; */
    text-align: left;
}

.biojs_msa_header {
    white-space: nowrap;
    text-align: left;
}

.biojs_msa_labelrow:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.biojs_msa_labelrow{
    height: 100%;
}

.biojs_msa_labelblock::-webkit-scrollbar, .biojs_msa_rheader::-webkit-scrollbar{
    // FIX scrollbars on Mac
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
.biojs_msa_labelblock::-webkit-scrollbar-thumb, .biojs_msa_rheader::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* END BASIC */
/* Marker */

.biojs_msa_marker{
    color:grey;
    white-space: nowrap;
    cursor: pointer;
}

.biojs_msa_marker span{
    text-align: center;
}

/* END Marker */
/* Menubar */

.smenubar .smenubar_alink {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    padding: 3px 10px 3px 10px;
    margin-left: 10px;
    text-decoration: none;
}
.smenubar {
    display: inline-block;
}

.smenubar .smenubar_alink:hover {
    cursor: pointer;
}


/* jquery dropdown CSS */

.smenu-dropdown {
    position: absolute;
    z-index: 9999999;
    display: none;
}

.smenu-dropdown .smenu-dropdown-menu,
.smenu-dropdown .smenu-dropdown-panel {
    min-width: 160px;
    max-width: 360px;
    list-style: none;
    background: #FFF;
    border: solid 1px #DDD;
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
}

.smenu-dropdown .smenu-dropdown-panel {
    padding: 10px;
}


.smenu-dropdown.smenu-dropdown-scroll .smenu-dropdown-menu,
.smenu-dropdown.smenu-dropdown-scroll .smenu-dropdown-panel {
    max-height: 358px;
    overflow: auto;
}

.smenu-dropdown .smenu-dropdown-menu LI {
    list-style: none;
    padding: 0 0;
    margin: 0;
    line-height: 18px;
}

.smenu-dropdown .smenu-dropdown-menu LI,
.smenu-dropdown .smenu-dropdown-menu LABEL {
    display: block;
    color: #555;
    text-decoration: none;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
}

.smenu-dropdown .smenu-dropdown-menu LI:hover,
.smenu-dropdown .smenu-dropdown-menu LABEL:hover {
    background-color: #08C;
    color: #FFF;
    cursor: pointer;
}

.smenu-dropdown .smenu-dropdown-menu .smenu-dropdown-divider {
    font-size: 1px;
    border-top: solid 1px #E5E5E5;
    padding: 0;
    margin: 5px 0;
}

/* END Menubar */
