

.biojs_msa_labels {
    color:black;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

.biojs_msa_marker{
    color:grey;
    font-size:10px;
    white-space: nowrap;
    cursor: pointer;
}

.biojs_msa_single_residue{
    display: inline-block;
    cursor: pointer;
}

.biojs_msa_sequence_block{
    color: black;
    white-space: nowrap;
}

.shadowed{
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
}

.biojs_msa_layer{
    display: inline-block;
    white-space: nowrap;
}

.biojs_msa_menubar .biojs_msa_menubar_alink {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 3px 10px 3px 10px;
    margin-left: 10px;
    text-decoration: none;
}
.biojs_msa_menubar .biojs_msa_menubar_alink:hover {
    cursor: pointer;
}
