$normalOpacity: 0.3;
$schemeName: cinema;

$residues: (
A: #BBBBBB,
B: grey,
C: yellow,
D: red,
E: red,
F: magenta,
G: brown,
H: #00FFFF,
I: #BBBBBB,
J: #fff,
K: #00FFFF,
L: #BBBBBB,
M: #BBBBBB,
N: green,
O: #fff,
P: brown,
Q: green,
R: #00FFFF,
S: green,
T: green,
U: #fff,
V: #BBBBBB,
W: magenta,
X: grey,
Y: magenta,
Z: grey,
Gap: grey,
);

@import "select_builder"
