$normalOpacity: 0.3;
$schemeName: clustal2;

$residues: (

A:#80a0f0,
R:#f01505,
N:#00ff00,
D:#c048c0,
C:#f08080,
Q:#00ff00,
E:#c048c0,
G:#f09048,
H:#15a4a4,
I:#80a0f0,
L:#80a0f0,
K:#f01505,
M:#80a0f0,
F:#80a0f0,
P:#ffff00,
S:#00ff00,
T:#00ff00,
W:#80a0f0,
Y:#15a4a4,
V:#80a0f0,
B:#fff,
X:#fff,
Z:#fff,

Gap: #fff,
);

@import "select_builder"
