$normalOpacity: 0.3;
$schemeName: mae;

$residues: (
A: #77dd88,
B: #fff,
C: #99ee66,
D: #55bb33,
E: #55bb33,
F: #9999ff,
G: #77dd88,
H: #5555ff,
I: #66bbff,
J: #fff,
K: #ffcc77,
L: #66bbff,
M: #66bbff,
N: #55bb33,
O: #fff,
P: #eeaaaa,
Q: #55bb33,
R: #ffcc77,
S: #ff4455,
T: #ff4455,
U: #fff,
V: #66bbff,
W: #9999ff,
X: #fff,
Y: #9999ff,
Z: #fff,
Gap: #fff,
);

@import "select_builder"
