// overwrite only changed selection colors
//$residuesSelected:  map-merge($residues, $residuesSelected);

.biojs-msa-schemes-#{$schemeName}{
@each $key,$value in $residues{
	.biojs-msa-aa-#{$key} {
		background-color: rgba($value,$normalOpacity);
	}

}
}

// blank version (no background)
.biojs-msa-schemes-#{$schemeName}-bl{
@each $key,$value in $residues{
	.biojs-msa-aa-#{$key} {
		// white on white is definitely not visible
		@if $value == #fff {
			color: black;
		} @else {
			color: $value;
		}
	}
}
}


