$normalOpacity: 0.3;
$schemeName: template;

$residues: (
A: #fff,
B: #fff,
C: #fff,
D: #fff,
E: #fff,
F: #fff,
G: #fff,
H: #fff,
I: #fff,
J: #fff,
K: #fff,
L: #fff,
M: #fff,
N: #fff,
O: #fff,
P: #fff,
Q: #fff,
R: #fff,
S: #fff,
T: #fff,
U: #fff,
V: #fff,
W: #fff,
X: #fff,
Y: #fff,
Z: #fff,
Gap: #fff,
);

@import "select_builder"
