language: node_js
node_js:
- '0.10'
before_deploy: gulp build
deploy:
  provider: s3
  access_key_id: AKIAJ7SXC23CS2USONIA
  secret_access_key:
    secure: XWnP8xEA5cSCYZEBvYfLep0og1JsWWm/UsKkIQBI08tA4WJK79weoBMJ2WO6/qr1XqspPEIbkE1nZ30dWISUrG5YMCi3s916nhqCaj6MSiL2Z30ObyvUNKNzG4ahwQkTdz5fUi4yaheCB6mWMfpoVf1MVObdpNj7gTJDh0X++to=
  bucket: biojs
  upload-dir: msa/latest
  acl: public-read
  detect_encoding: true # allow compressed uploads
  skip_cleanup: true
  local-dir: build
  on:
    repo: greenify/biojs-vis-msa
